<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication"> <!-- Add the package name if missing -->

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">

        <!-- Launcher Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Core App Screens -->
        <activity android:name=".MainActivity" android:exported="false" />
        <activity android:name=".InstructionsActivity" android:exported="false" />
        <activity android:name=".showinfo" android:exported="false" />

        <!-- Indoor Games -->
        <activity android:name=".IndoorGamesActivity" android:exported="false" />
        <activity android:name=".ChessActivity" android:exported="false" />
        <activity android:name=".TicTacToeActivity" android:exported="false" />
        <activity android:name=".AliGuliManeActivity" android:exported="false" />
        <activity android:name=".LudoActivity" android:exported="false" />

        <!-- Outdoor Games -->
        <activity android:name=".OutdoorGamesActivity" android:exported="false" />
        <activity android:name=".CricketActivity" android:exported="false" />
        <activity android:name=".BasketballGameActivity" android:exported="false" />
        <activity android:name=".FootballGameActivity" android:exported="false" />
        <activity android:name=".PuliMekaActivity" android:exported="false" />

        <!-- Mini Games -->
        <activity android:name=".RockPaperScissorsActivity" android:exported="false" />

        <!-- Auth Screens -->
        <activity android:name=".SignUpActivity" android:exported="false" />
        <activity android:name=".ForgotPasswordActivity" android:exported="false" />
    </application>

</manifest>
